h1{
    background-color: honeydew;
    color: red;
    width: 500px;
}
h2{
    background-color: black;
    color: white;
width: 200px;
}
h3{
    background-color: tomato;
    color: darkblue;
   width: 100px;
}
p{
    background-color: darkgoldenrod;
    color: red;
 width: 125px;
}